header {
    background-color: #F0F0F0;
    padding: 1em;
    text-align: center;
  }
  
  h1, h2 {
    margin: 0;
    color: #333;
  }
  
  nav {
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    color: white;
    margin: 1em;
    text-decoration: none;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 2em;
  }
  
  section {
    background-color: #F0F0F0;
    margin: 1em;
    padding: 1em;
    width: 80%;
    border: 1px solid #333;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    width: 50%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label, input[type="submit"] {
    margin: 0.5em;
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1em;
  }